@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFIAS */

h1 {
  font-family: Manrope;
  font-size: 64px;
  line-height: 1.1;
  color: #6E745F;
  font-weight: 800;
  margin-bottom: 22px;
}

h2 {
  font-family: Manrope;
  font-size: 40px;
  line-height: 1.1;
  color: #111111;
  font-weight: 700;
}

h3 {
  font-family: Manrope;
  font-size: 18px;
  color: #111111;
  font-weight: 500;
}

h4 {
  font-family: Manrope;
  font-size: 20px;
  color: #899F87;
  font-weight: 500;
}

p  {
  font-family: Manrope;
  font-size: 14px;
  color: #505050;
  font-weight: 400;
}

a {
  font-family: Manrope;
  font-size: 12px;
  color: #111111;
  font-weight: 400;
}

body {
  background: #111111;
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
}

.login-wrapper {
  width: 100%;
  max-width: 1100px;
  height: 90vh;
  margin: 40px auto;
  background: #E6E0D9;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
}

.login-izquierdo {
  background: #E2DED2;
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.login-izquierdo h2 {
  margin-bottom: 18px;
}

.login-izquierdo p {
  max-width: 350px;
  line-height: 1.4;
}

.login-derecho {
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-derecho h2 {
  color: #111111;
  margin-bottom: 25px;
  font-weight: 700;
}

/* ERRORES */
.error {
  color: #D44;
  font-size: 14px;
  margin-bottom: 5px;
  display: none;
}

/* FORMULARIO */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  width: 100%;
  padding: 18px 20px;
  margin-top: 15px;
  border-radius: 14px;
  border: 1px solid #B8B4AE;
  background: #E5E3D7;
  font-family: Manrope;
  font-size: 15px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.login-form input::placeholder {
  color: #505050;
}

.login-form input:focus {
  font-family: Manrope;
  border-color: #E6E0D9;
  box-shadow: 0 0 0 3px rgba(168,164,139,0.2);
}

.btn-principal {
  background-color: #6b725f;
  color: #fff;
  font-size: 14px;
  font-family: Manrope, sans-serif;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
}

.btn-principal:hover {
  background: #111111;
}

/* RESPONSIVE TABLET */
@media (max-width: 900px) {
  .login-wrapper {
    grid-template-columns: 1fr;
    height: auto;
  }

  .login-izquierdo {
    text-align: center;
    padding: 60px 40px;
  }

  .login-derecho {
    padding: 60px 40px;
  }
}

/* RESPONSIVE MOBILE */
@media (max-width: 480px) {
  .login-wrapper {
    margin: 20px;
    border-radius: 16px;
  }

  .login-izquierdo h2,
  .login-derecho h2 {
    font-size: 32px;
  }

  .login-form input {
    padding: 15px;
 }

  .btn-principal {
    padding: 14px;
  }
}